---
import "@fontsource/metropolis/all.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Tulsa Hack Club</title>
		<style>
			@tailwind base;
			@tailwind utilities;
			@tailwind components;
			#cover-center {
				content: url("/horizontal-wordmark.svg");
			}
			@media (max-width: 640px) {
				#cover-center {
					content: url("/vertical-wordmark.svg");
				}
			}
		</style>
	</head>
	<body class="bg-brandblue-900 selection:bg-brandgreen-400 selection:text-brandblue-800">
		<!-- Image by Daniel Nieto on Unsplash -->
		<div id="cover" class="flex flex-col shadow-inner w-screen h-screen items-center justify-center brightness-75 bg-[url(/background.png)] bg-no-repeat bg-cover bg-fixed">
			<img id="cover-center" alt="Tulsa Hack Club Emblem" class="lg:p-10 p-10 bg-[#FFFFFFAA] rounded-2xl backdrop-blur-md w-2/3 md:w-1/2 lg:w-1/3">
			<a class="animate-pulse fill-white" href="#content"><svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M480 711 240 471l43-43 197 198 197-197 43 43-240 239Z"/></svg></a>
		</div>
		<div id="content" class="flex flex-col px-8 py-16 space-y-12 w-screen min-h-screen text-center lg:space-y-8 lg:px-10 lg:py-10 lg:text-left">
			<section>
				<span class="font-sans text-5xl font-bold text-brandgreen-500">We are</span><br>
				<span class="font-sans text-6xl font-extrabold text-brandgreen-300">Tulsa Hack Club</span>
				<p class="font-sans text-lg font-semibold lg:pl-2 text-brandgreen-400 lg:indent-5">Tulsa Hack Club is a community of technology enthusiasts who share a common passion for all things related to computing. It is a growing group of individuals located in the Tulsa area who are interested in programming, hacking, and developing new software. The members of Tulsa Hack Club regularly meet to collaborate, learn, and exchange ideas on a wide range of computing topics. Through workshops, events, meetings, and other activities, the group aims to foster a vibrant and supportive community which is dedicated to exploring the latest innovations in technology. Whether you're a beginner or an experienced programmer, Tulsa Hack Club provides a welcoming environment where you can connect with others with a love of all things computing.</p>
			</section>
			<section>
				<span class="font-sans text-6xl font-bold text-brandgreen-500">We want to meet <span class="font-bold text-brandgreen-300">You</span></span>
				<p class="font-sans text-lg font-semibold lg:pl-2 text-brandgreen-400 lg:indent-5">We'd love to meet you, whether you're a guru of sudo building your 1,000th website, or if you're just getting started. Send us an email at <a href="mailto:hello@tulsahackclub.com" class="underline text-brandgreen-300">hello@tulsahackclub.com</a> or <a href="https://hackclub.com/slack/" class="underline text-brandgreen-300">join the global Hack Club community on Slack!</a> Once you're ready to join us, fill out <button data-tf-popup="OzdJDcoO" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Tulsa Hack Club Signup" data-tf-transitive-search-params data-tf-medium="snippet" class="underline text-brandgreen-300">the sign-up form to join us</button> and we'll get back to you. Don't be afraid to reach out and join us!</p>
			</section>
		</div>
		<div class="flex flex-col items-center px-10 py-10 w-screen font-sans font-bold bg-brandblue-800 text-brandblue-300" id="footer">
			<img src="/emblem.svg" alt="Emblem" class="pb-1">
			<img src="/wordmark.svg" alt="wordmark" class="pb-3">
			&copy; Tulsa Hack Club 2023 { new Date().getFullYear() == 2023 ? '' : `-${new Date().getFullYear()}`}

			<button data-tf-popup="OzdJDcoO" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Tulsa Hack Club Signup" data-tf-transitive-search-params data-tf-medium="snippet" class="bg-brandblue-800 hover:bg-brandblue-900 duration-500 transition-all rounded-full text-brandblue-100 hover:text-brandblue-300 py-3 px-5 text-lg mt-4 ring-brandblue-900 hover:ring-0 ring-4 ring-inset">Join us!</button>
			<script src="../embed.js"></script>
		</div>
	</body>
</html>
